<!DOCTYPE html>
<html>
<head>
    <title>Meal Planner</title>
</head>
<body>

<h2>Daily Meal Planner</h2>

<form action="/result" method="post">

    <!-- Person 1 -->
    <h3>Person 1</h3>
    Eat? 
    <input type="radio" name="eat1" value="yes"> Yes
    <input type="radio" name="eat1" value="no"> No <br>

    Food:
    <select name="food1">
        <option value="veg">Veg</option>
        <option value="nonveg">Non-Veg</option>
    </select>

    <hr>

    <!-- Repeat for 4 people -->

    <h3>Person 2</h3>
    <input type="radio" name="eat2" value="yes"> Yes
    <input type="radio" name="eat2" value="no"> No <br>
    <select name="food2">
        <option value="veg">Veg</option>
        <option value="nonveg">Non-Veg</option>
    </select>

    <hr>

    <h3>Person 3</h3>
    <input type="radio" name="eat3" value="yes"> Yes
    <input type="radio" name="eat3" value="no"> No <br>
    <select name="food3">
        <option value="veg">Veg</option>
        <option value="nonveg">Non-Veg</option>
    </select>

    <hr>

    <h3>Person 4</h3>
    <input type="radio" name="eat4" value="yes"> Yes
    <input type="radio" name="eat4" value="no"> No <br>
    <select name="food4">
        <option value="veg">Veg</option>
        <option value="nonveg">Non-Veg</option>
    </select>

    <br><br>
    <button type="submit">Get Meal Suggestion</button>

</form>

</body>
</html>